@{
    Layout = "_GovUkPageTemplate";
    

    var controllerName = this.ViewContext.RouteData.Values["controller"]?.ToString();
    var matomoId = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production" ? 10 : 9;
}


@section BodyStart
{
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="~/js/analytics.js" asp-append-version="true"></script>
    <noscript>
        <style>
            .jsonly {
                display: none;
            }
        </style>
    </noscript>

    
    <script>
        //<!-- Matomo -->
        if (analyticsEnabled()) {
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setDomains", ["*.find-a-qualification.services.ofqual.gov.uk", "*.find-an-awarding-organisation.services.ofqual.gov.uk", "*.ofq-prod-register-frontend.azurewebsites.net"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "https://ofqual.matomo.cloud/";
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', @matomoId]);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true; g.src = 'https://cdn.matomo.cloud/ofqual.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
            })();
        }
        //<!-- End Matomo Code -->

        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
}   

@section Header
{
    @await RenderSectionAsync("Head", required: false)

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <partial name="/Views/Shared/_AnalyticsCookieBannerPartial.cshtml" />
    <partial name="/Views/Shared/_HeaderPartial.cshtml" />

    <div class="govuk-width-container">
        <partial name="/Views/Shared/_PhaseBannerPartial.cshtml" />
        <p id="back" 
            class="govuk-back-link jsonly" 
            @(controllerName?.StartsWith("Home") ?? true ? "hidden" : string.Empty)>
            Back
        </p>                
    </div>
}
<div class="govuk-width-container">
    @RenderBody()
</div>

@section Footer
{
    <partial name="/Views/Shared/_FooterPartial.cshtml" />
}    

@section BodyEnd
{
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {
            checkMatomoCookie();
        });

        if (window.history.length < 2) {
            document.getElementById("back").style.display = "none";
        }

        document.getElementById("back").addEventListener("click", () => {
            history.back();
        });

        checkMatomoCookie();
    </script>
}

