@{
    var controllerName = this.ViewContext.RouteData.Values["controller"]?.ToString();
}

@*     <title>@ViewData["Title"] - Ofqual.Common.RegisterFrontend</title> *@
<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Ofqual - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <link rel="icon" sizes="48x48" href="~/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="~/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="~/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="~/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="~/assets/manifest.json">
    <link rel="stylesheet" href="~/css/govuk-frontend.min.css">
    <link rel="stylesheet" href="~/css/application.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Head", required: false)


</head>
<body class="govuk-template__body">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <partial name="/Views/Shared/_HeaderPartial.cshtml" />

    <div class="govuk-width-container">
        <partial name="/Views/Shared/_PhaseBannerPartial.cshtml" />
        @if (controllerName != null && !controllerName.StartsWith("Home"))
        {
            <p id="back" class="govuk-back-link">Back</p>
        }

        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <partial name="/Views/Shared/_FooterPartial.cshtml" />

    @await RenderSectionAsync("Scripts", required: false)
    <script type="module" src="~/js/govuk-frontend.min.js" asp-append-version="true"></script>
    <script type="module">
        import { initAll } from '/js/govuk-frontend.min.js'
        initAll()
    </script>
    <script type="text/javascript">
        document.getElementById("back").addEventListener("click", () => {
            history.back();
        });
    </script>
</body>

</html>

