@inherits LayoutComponentBase
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>
<AnalyticsCookieBanner />

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<Header />

<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                Beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
    <main class="govuk-main-wrapper" id="main-content" role="main">

        @Body

        <div id="blazor-error-ui">
            An unhandled error has occurred.
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>

    </main>
</div>
