@{
    ViewData["Title"] = "Register of Regulated Qualifications";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Register of Regulated Qualifications
        </h1>
        <h2 class="govuk-heading-m">About this service</h2>
        <p class="govuk-body">This service is designed for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                heads of department
            </li>
            <li>
                teachers
            </li>
            <li>
                exams officers
            </li>
            <li>
                programme managers
            </li>
            <li>
                students
            </li>
        </ul>
        <p class="govuk-body">It allows the user to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/Qualifications">look up a qualification</a>
            </li>
            <li>
                <a href="/Organisations">
                    find an awarding organisation
                </a>
            </li>
            <li>
                <a href="/CompareQualifications">
                    compare qualifications
                </a>
            </li>
        </ul>
    </div>
</div>