@model QualificationSitemap;

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Qualifications</h1>
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var qual in Model.Qualifications)
            {
                <li><a href="https://ofq-prod-register-frontend.azurewebsites.net/qualifications/@qual.QualificationNumberNoObliques" class="govuk-link">@qual.Title</a></li>
            }
        </ul>
        <partial name="/Views/Shared/_PagingPartial.cshtml" model="Model.Paging" />

    </div>
</div>