@{
    Layout = "_GovUkPageTemplate";
    var controllerName = this.ViewContext.RouteData.Values["controller"]?.ToString();
}

@section BodyStart
{
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="/js/analytics.js" asp-append-version="true"></script>
    <noscript>
        <style>
            .jsonly {
                display: none;
            }
        </style>
    </noscript>
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
}

@section Header
{
    @await RenderSectionAsync("Head", required: false)

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <partial name="/Views/Shared/_HeaderPartial.cshtml" />

    <div class="govuk-width-container">
        <partial name="/Views/Shared/_PhaseBannerPartial.cshtml" />
        <p id="back"
           class="govuk-back-link jsonly"
           @(controllerName?.StartsWith("Home") ?? true ? "hidden" : string.Empty)>
            Back
        </p>
    </div>
}
<div class="govuk-width-container">
    @RenderBody()
</div>

@section Footer
{
    <partial name="/Views/Shared/_FooterPartial.cshtml" />
}

@section BodyEnd
{
    <script type="text/javascript">

        document.getElementById("back").addEventListener("click", () => {
            history.back();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
}
