@model Ofqual.Common.RegisterFrontend.Models.SearchViewModels.SearchResultViewModel<Ofqual.Common.RegisterFrontend.Models.SearchViewModels.OrganisationListViewModel>

@{
    ViewData["Title"] = "Find a regulated awarding organisation";
    ViewData["HomePage"] = "find-regulated-organisations";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-m">Organisation search</h1>

        <div class="app-search govuk-!-margin-bottom-4">
            <form action="/organisations" method="get" novalidate="">
                <div class="govuk-form-group">
                    <label class="govuk-label app-search__label govuk-label--s" for="keywords">
                        Search for an organisation
                    </label>
                    <input class="govuk-input app-search__input" id="name" name="name" type="search" value="@Model.Title">
                    <input hidden id="page" name="page" type="number" value="1" />
                </div>
                <button class="govuk-button app-search__button" data-module="govuk-button">
                    Search
                </button>
            </form>
        </div>

        @if (Model.List.Results == null || !Model.List.Results.Any())
        {
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-s">No results</h2>
            <p class="govuk-body-m">No search results found. Try searching for something different.</p>
        }
        else
        {
            <a href="/organisations/download-csv?name=@Model.Title" role="button" draggable="false" class="govuk-button govuk-button--secondary matomo_download" data-module="govuk-button">
                Download results as CSV
            </a>

            <ul class="govuk-list govuk-list--spaced">

                @foreach (var item in Model.List.Results!)
                {
                    <li class="results-list-item">
                        <p class="govuk-body-!-margin-top-2">
                            <a class="govuk-link govuk-link--no-underline govuk-body govuk-!-font-weight-bold" href="organisations/@item.RecognitionNumber">@item.Name</a><br>
                            <span class="govuk-body-s">@item.Acronym</span>
                        </p>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">Ofqual status: </div>
                            <div class="govuk-grid-column-one-half">
                                @switch (item.OfqualOrganisationStatus?.ToLower())
                                {
                                    case "surrendered":
                                        <strong class="govuk-tag govuk-tag--purple">
                                            Surrendered
                                        </strong>
                                        break;
                                    case "withdrawn":
                                        <strong class="govuk-tag govuk-tag--blue">
                                            Withdrawn
                                        </strong>
                                        break;
                                    case "recognised":
                                        <strong class="govuk-tag govuk-tag--green">
                                            Recognised
                                        </strong>
                                        break;
                                    case "never been recognised":
                                        <strong class="govuk-tag govuk-tag--grey">
                                            Never recognised
                                        </strong>
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">CCEA status: </div>
                            <div class="govuk-grid-column-one-half">
                                @switch (item.CceaOrganisationStatus?.ToLower())
                                {
                                    case "surrendered":
                                        <strong class="govuk-tag govuk-tag--purple">
                                            Surrendered
                                        </strong>
                                        break;
                                    case "withdrawn":
                                        <strong class="govuk-tag govuk-tag--blue">
                                            Withdrawn
                                        </strong>
                                        break;
                                    case "recognised":
                                        <strong class="govuk-tag govuk-tag--green">
                                            Recognised
                                        </strong>
                                        break;
                                    case "never been recognised":
                                        <strong class="govuk-tag govuk-tag--grey">
                                            Never recognised
                                        </strong>
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        </div>
                        <p></p>
                    </li>
                }

            </ul>

            <partial name="/Views/Shared/_PagingPartial.cshtml" model="Model.Paging" />
        }


    </div>
</div>