@{
    ViewData["Title"] = "Search organisation - Find a regulated awarding organisation"; 
    ViewData["HeaderTitle"] = "Find a regulated awarding organisation";
    ViewData["HomePage"] = "find-regulated-organisations";
}
<search>
    <form method="get" action="/organisations" role="search">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="name">
                    Find a regulated awarding organisation
                </label>
            </h1>
            <input class="govuk-input" id="name" name="name" type="text" autocomplete="search">
            <input hidden id="page" name="page" type="number" value="1" />
        </div>
        <button type="submit" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
            Search organisation
        </button>
        <a href="organisations" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Show all organisations
        </a>
    </form>
</search>
